.up-icon {
  position: absolute;
  top: 636px;
  left: 1192px;
  width: 57px;
  height: 57px;
}
.skor-minimal-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: #9a2828;
  width: 286px;
  height: 94px;
}
.b,
.skor-idm-saat {
  position: absolute;
  left: 21px;
  line-height: 95%;
}
.b {
  top: 20px;
  letter-spacing: 0.09em;
}
.skor-idm-saat {
  top: 67px;
  font-size: var(--font-size-base);
  font-family: var(--font-helvetica);
}
.vector-icon {
  position: absolute;
  height: 41.49%;
  width: 20.28%;
  top: 29.79%;
  right: 7.69%;
  bottom: 28.72%;
  left: 72.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.skor-minimal,
.target-status-child {
  position: absolute;
  top: 115px;
  left: 353px;
  width: 286px;
  height: 94px;
}
.target-status-child {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: #9a287a;
}
.vector-icon1 {
  position: absolute;
  height: 50%;
  width: 16.43%;
  top: 28.72%;
  right: 5.24%;
  bottom: 21.28%;
  left: 78.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.status-idm-child,
.target-status {
  position: absolute;
  top: 224px;
  left: 722px;
  width: 286px;
  height: 94px;
}
.status-idm-child {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: #539a28;
}
.vector-icon2 {
  position: absolute;
  height: 51.06%;
  width: 20.98%;
  top: 24.47%;
  right: 6.99%;
  bottom: 24.47%;
  left: 72.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.skor-minimal-item,
.status-idm1 {
  position: absolute;
  top: 115px;
  left: 722px;
  width: 286px;
  height: 94px;
}
.skor-minimal-item {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: #282c9a;
}
.icon {
  position: absolute;
  top: 22px;
  left: 207px;
  width: 58px;
  height: 58px;
  overflow: hidden;
  opacity: 0.65;
}
.image-1-icon,
.skor-minimal1 {
  position: absolute;
  top: 224px;
  left: 353px;
  width: 286px;
  height: 94px;
}
.image-1-icon {
  top: 0;
  left: 0;
  width: 546px;
  height: 296px;
  object-fit: cover;
}
.iks-074 {
  position: absolute;
  top: 82px;
  left: 411px;
  line-height: 130%;
}
.ike-070 {
  position: absolute;
  top: 256px;
  left: 382px;
}
.ike-070,
.ikl,
.ikl-087 {
  line-height: 130%;
}
.ikl-087 {
  position: absolute;
  top: 94px;
  left: 50px;
}
.ikl {
  top: 294px;
  left: 233px;
}
.ijo,
.ikl,
.iks {
  position: absolute;
}
.ijo {
  top: 296px;
  left: 215px;
  border-radius: 50%;
  background-color: #90ed7d;
  width: 12px;
  height: 12px;
}
.iks {
  top: 294px;
  left: 290px;
  line-height: 130%;
}
.biru {
  top: 296px;
  left: 272px;
  border-radius: 50%;
  background-color: #7cb5ec;
  width: 12px;
  height: 12px;
}
.abu,
.biru,
.ike {
  position: absolute;
}
.ike {
  top: 294px;
  left: 347px;
  line-height: 130%;
}
.abu {
  top: 296px;
  left: 329px;
  border-radius: 50%;
  background-color: #434348;
  width: 12px;
  height: 12px;
}
.indeks-desa-membangun-idm {
  margin: 0;
}
.skor-ikl-iks {
  margin: 0;
  font-size: var(--font-size-base);
}
.indeks-desa-membangun-container {
  position: absolute;
  top: 2px;
  left: 75px;
  letter-spacing: 0.03em;
  line-height: 130%;
  text-align: center;
  font-size: 24px;
}
.chart {
  position: absolute;
  top: 360px;
  left: 470px;
  width: 546px;
  height: 310px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-helvetica);
}
.atas-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #540754;
  width: 993px;
  height: 79px;
}
.profil-icon {
  position: absolute;
  height: 49.37%;
  width: 3.93%;
  top: 26.58%;
  right: 33.64%;
  bottom: 24.05%;
  left: 62.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-admin-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: #4552c6;
  width: 110px;
  height: 23px;
}
.login-admin1 {
  position: absolute;
  top: 3px;
  left: 11px;
  cursor: pointer;
}
.layanan-mandiri-child,
.login-admin {
  position: absolute;
  top: 31px;
  left: 830px;
  width: 110px;
  height: 23px;
}
.layanan-mandiri-child {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: #3db732;
  width: 140px;
}
.layanan-mandiri1 {
  position: absolute;
  top: 3px;
  left: 11px;
}
.layanan-mandiri,
.vector-icon3 {
  position: absolute;
  top: 31px;
  left: 679px;
  width: 140px;
  height: 23px;
}
.vector-icon3 {
  height: 35.44%;
  width: 2.82%;
  top: 31.65%;
  right: 94.96%;
  bottom: 32.91%;
  left: 2.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cari {
  position: absolute;
  top: 31px;
  left: 76px;
  letter-spacing: 0.06em;
}
.atas,
.sidebar1 {
  position: absolute;
  top: 0;
}
.atas {
  left: 287px;
  width: 993px;
  height: 79px;
  font-size: var(--font-size-smi);
  font-family: var(--font-fredoka-one);
}
.sidebar1 {
  left: 0;
  background-color: var(--color-white);
  width: 287px;
  height: 729px;
}
.sidebar-child {
  position: absolute;
  top: 163px;
  left: 7px;
  border-radius: 10px;
  background-color: #c2abe0;
  width: 263px;
  height: 32.4px;
}
.prakiraan-cuaca1 {
  position: absolute;
  top: 3px;
  left: 42px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 179px;
  height: 17px;
}
.vector-icon4 {
  position: absolute;
  height: 100%;
  width: 10.56%;
  top: 0;
  right: 89.44%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.peta-wilayah1,
.prakiraan-cuaca {
  position: absolute;
  top: 654px;
  left: 34px;
  width: 221px;
  height: 23.92px;
}
.peta-wilayah1 {
  top: 6px;
  left: 45px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 156px;
  height: 16px;
}
.mdilocation-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28.35px;
  overflow: hidden;
}
.peta-wilayah {
  position: absolute;
  top: 601px;
  left: 34px;
  width: 201px;
  height: 28.35px;
  cursor: pointer;
}
.galeri1 {
  position: absolute;
  top: 8px;
  left: 45px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 97px;
  height: 16.2px;
}
.solargallery-bold-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.galeri {
  position: absolute;
  top: 545px;
  left: 33px;
  width: 142px;
  height: 31px;
  cursor: pointer;
}
.aparatur-desa1 {
  position: absolute;
  top: 10.71px;
  left: 49px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 155px;
  height: 17.21px;
}
.material-symbolsperson-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.aparatur-desa {
  position: absolute;
  top: 482px;
  left: 30px;
  width: 204px;
  height: 38px;
  cursor: pointer;
}
.agenda1 {
  position: absolute;
  top: 4.84px;
  left: 44.41px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 97px;
  height: 16.2px;
}
.agenda,
.icon1 {
  position: absolute;
  height: 31px;
}
.icon1 {
  top: 0;
  left: 0;
  width: 27px;
  overflow: hidden;
}
.agenda {
  top: 426px;
  left: 35px;
  width: 141.41px;
}
.gisprofile-o-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.statistik1 {
  position: absolute;
  top: 10px;
  left: 47px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 89px;
  height: 16.2px;
}
.icon2,
.statistik {
  position: absolute;
  top: 365px;
  left: 34px;
  width: 136px;
  height: 36px;
}
.icon2 {
  top: 0;
  left: 0;
  width: 34px;
  height: 35px;
  overflow: hidden;
}
.aturan-desa {
  position: absolute;
  top: 6px;
  left: 48px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 153px;
  height: 18px;
}
.icon3,
.regulasi {
  position: absolute;
  top: 305px;
  left: 31px;
  width: 201px;
  height: 35px;
}
.icon3 {
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  overflow: hidden;
}
.informasi-desa {
  position: absolute;
  top: 7px;
  left: 51px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 184px;
  height: 14px;
}
.berita {
  position: absolute;
  top: 243px;
  left: 31px;
  width: 235px;
  height: 37px;
}
.profil1,
.sdg-desa,
.status-idm3 {
  position: absolute;
  left: 66px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
}
.status-idm3 {
  top: 44px;
  width: 126px;
  height: 14px;
  cursor: pointer;
}
.profil1,
.sdg-desa {
  top: 78px;
  width: 92px;
  height: 15.19px;
}
.profil1 {
  top: 3.35px;
  left: 43.55px;
  font-size: var(--font-size-base);
  width: 88px;
  height: 17.21px;
}
.drop-down-icon,
.vector-icon5 {
  position: absolute;
  height: 30.05%;
  width: 12.53%;
  top: 0;
  right: 87.47%;
  bottom: 69.95%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.drop-down-icon {
  height: 8.17%;
  width: 6.03%;
  top: 13.02%;
  right: 0;
  bottom: 78.81%;
  left: 93.97%;
}
.profil {
  position: absolute;
  top: 125px;
  left: 31px;
  width: 215.55px;
  height: 93.19px;
  font-size: var(--font-size-mini);
}
.beranda1 {
  position: absolute;
  top: 4.16px;
  left: 43.55px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  width: 86px;
  height: 17.21px;
}
.vector-icon6 {
  position: absolute;
  height: 100%;
  width: 18.65%;
  top: 0;
  right: 81.35%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.beranda {
  position: absolute;
  top: 72.79px;
  left: 31px;
  width: 129.55px;
  height: 24.77px;
  font-size: 14px;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 287px;
  height: 729px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-fredoka);
}
.desa-marga-agung-container {
  position: absolute;
  top: 11px;
  left: 45px;
  letter-spacing: 0.09em;
  line-height: 95%;
  display: inline-block;
  width: 175px;
  height: 32px;
}
.logo-desa,
.logo-desa-icon {
  position: absolute;
  height: 47px;
}
.logo-desa-icon {
  top: 0;
  left: 0;
  width: 35px;
  object-fit: cover;
}
.logo-desa {
  top: 8px;
  left: 26px;
  width: 220px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-hammersmith-one);
}
.status-idm {
  position: relative;
  background-color: #eaeaea;
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-rounded);
}
